# Database Credentials
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/hireus
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

# Redis Credentials
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=

# Security
JWT_SECRET_KEY=bXktc3VwZXItc2VjcmV0LWtleS10aGF0LWlzLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmctYW5kLXNlY3VyZQ==
JWT_EXPIRATION_MS=86400000

# Server
SERVER_PORT=8080
